@charset "UTF-8";

body{
    background-color: rgb(251, 229, 99);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
h1 {
    color: blue;
    background-color: lightsalmon;
}
h2 {
    color: tomato;
}
p {
    text-align: justify;
}